.cq-header {
    background-color: #fff;
    border-bottom: 1px solid rgb(233, 227, 227);
    display: flex;
    margin: 0;
    padding: 0, 20;
    .cq-logo {
        height: 63px;
        width: 100%;
        position: absolute;
        img {
            height: 63px;
            display: block;
            position: absolute;
        }
        div {
            position: absolute;
            height: 63px;
            right: 150px;
        }
    }
}